--load rakelib/yard/yard-relative_markdown_links.rb
--load rakelib/yard/yard-custom-templates.rb
--charset UTF-8
--readme README.md
--title "wxRuby3 API Documentation"
--output-dir rdoc
--protected
lib/wx/doc/**/*.rb
-
CREDITS.md
INSTALL.md
LICENSE
lib/wx/doc/**/*.md
